
<include file="Share/header" />



<!-- 内容区域 -->
<div class="tpl-content-wrapper">

    <div class="row-content am-cf">

        <div class="row">

            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">{$title}</div>
                        <div class="widget-function am-fr">
                            <a href="javascript:;" class="am-icon-cog"></a>
                        </div>
                    </div>
                    <div class="widget-body am-fr">

                        <form class="am-form tpl-form-border-form tpl-form-border-br">


                            <div class="am-form-group">
                                <label for="user-weibo" class="am-u-sm-3 am-form-label">轮播图 <span class="tpl-form-line-small-title">Images</span></label>
                                <div class="am-u-sm-9">
                                    <div class="am-form-group am-form-file">
                                        <div class="tpl-form-file-img">

                                            <img data-src="/Uploads/{$cases_detail.img}" alt="" id="cover-img">

                                        </div>
                                        <button type="button" class="am-btn am-btn-danger am-btn-sm">
                                            <i class="am-icon-cloud-upload "></i> 添加轮播图</button>
                                        <input id="file_upload" type="file" multiple="" name="file_upload">
                                    </div>

                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="url" class="am-u-sm-3 am-form-label">跳转地址 <span class="tpl-form-line-small-title">url</span></label>
                                <div class="am-u-sm-9">
                                    <input type="text"  class="tpl-form-input" id="url"  value="{$cases_detail.url}" style="width:300px; background: #eee;">
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="url" class="am-u-sm-3 am-form-label">标题 <span class="tpl-form-line-small-title">title</span></label>
                                <div class="am-u-sm-9">
                                    <input type="text"  class="tpl-form-input" id="titles"  value="{$cases_detail.title}" style="width:300px; background: #eee;">
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="desc" class="am-u-sm-3 am-form-label">简介<span class="tpl-form-line-small-title">Desc</span></label>
                                <div class="am-u-sm-9">
                                    <textarea class="" rows="4" id="info" placeholder="请输入简介">{$cases_detail.info}</textarea>
                                </div>
                            </div>


                            <div class="am-form-group">
                                <div class="am-u-sm-9 am-u-sm-push-3">
                                    <button type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success j-submit">提交</button>
                                    <button type="button" class="am-btn am-btn-default "  onclick="window.location.href='index'">取消</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function(){

        var _this = this;

        var _img_path = ''

        // 获取案例ID
        var _search = window.location.search;

        var _page_id = ''

        if (_search.indexOf('?id') != -1){

            _page_id = _search.split('id=')[1];

        }

        //还原值
        var $cases_detail = {$cases_detail | json_encode}

        if($cases_detail) {


            _this._img_path = $cases_detail.img;

            $('#cover-img').attr('src','/Uploads/'+_this._img_path)

        }


        // 提交
        $('.j-submit').on('click',function(){

            var param = {
                img : _this._img_path,
                url : $("#url").val(),
                title:$("#titles").val(),
                info:$('#info').val(),
            }

            if (!_page_id) {

                param = $.extend(param,{

                    do : 'create'

                })

            } else {

                param = $.extend(param,{

                    do : 'edit',

                    id : _page_id

                })

            }

            $.ajax({

                url: "create",

                data:param,

                type:'post',

                success:function(res) {

                    if(res.status == 1){

                        alert("操作成功！")

                        window.location.href = '{:U("banner/index")}';

                    } else {

                        alert(res.data)

                    }

                }

            });


        })

        // 上传图片
        file_upload.onchange = function(e){

            var files = this.files

            var data = new FormData();

            for (var i = 0; i < files.length; i++) {

                data.append('file[]', files[i]);

            }

            $.ajax({

                url: "uploadImg",

                data: data,

                type:'post',

                cache: false,

                contentType: false,

                processData: false,

                success:function(res) {

                    if(res) {

                        _this._img_path = res

                        $('#cover-img').attr('src','/Uploads/'+_this._img_path)


                    }

                }

            });

        }

    })

</script>


<include file="Share/footer" />
